.cell {
  background-color: white;
}

.cell .weekday-header {
  color: white;
  background-color: grey;
  height: 100%;
}

.cell .week-number-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: lightgreen;
}

.cell .workout-cell {
  background-color: black;
  color: lightgreen;
  display: flex;
  flex-direction: column;
  aspect-ratio: 1/1;
  align-items: center;
  padding: 5%;
  justify-content: center;
}

.workout-cell label {
  display: block;
  margin: auto;
  font-size: 10px;
  color: white;
}

.workout-cell .checkbox-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.workout-cell .checkbox-container input[type="checkbox"] {
  width: 100%;
  height: 100%;
  flex: 0 1 auto;
}

.cell .label-only-cell {
}
