.workout-cell,
.label-only-cell,
.stat-cell {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  aspect-ratio: 1/1;
  align-items: stretch;
  justify-content: space-evenly;
  margin: 0;
  padding: 6px;
  box-sizing: border-box;
}

.workout-cell {
  background-color: black;
  color: #92bf2e;
  font-size: 20px;
  font-weight: bold;
}

.workout-name {
  height: 50%;
}

.checkbox-container {
  height: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.5fr;
  box-sizing: border-box;
}

.workout-cell .checkbox-container input[type="checkbox"] {
  width: auto;
  height: 80%;
  margin: 0;
  padding: 0;
}

.workout-cell .checkbox-container label {
  display: block;
  height: auto;
  margin: 0 -4px 0 -10px;
  padding: 0;
  font-size: 10px;
  color: white;
}

.label-only-cell {
  background-color: grey;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.stat-cell {
  background-color: #92bf2e;
}

.stat-cell label {
  font-size: 10px;
  text-align: left;
  float: left;
  width: 40px;
}

.stat-cell input {
  width: 80px;
  float: center;
}

@media (max-width: 1280px) {
  .cell > .workout-cell,
  .cell > .label-only-cell {
    aspect-ratio: auto;
    height: 8rem;
    width: 100%;
  }

  .cell > .stat-cell {
    height: 25vh;
  }

  .workout-name {
    height: 20%;
    margin-bottom: 6px;
    justify-self: flex-start;
  }

  .workout-cell {
    justify-content: space-evenly;
  }

  .checkbox-container {
    height: 70%;
  }

  .workout-cell .checkbox-container input[type="checkbox"] {
    justify-self: center;
    min-height: 3rem;
    min-width: 3rem;
  }

  .workout-cell .checkbox-container label {
    font-size: 1rem;
  }

  .workout-cell,
  .label-only-cell,
  .stat-cell {
    height: calc(100% - 20px);
  }

  .stat-cell {
    height: 120px;
  }
}
