.calendar {
  max-width: 1280px;
  display: grid;
  grid-template-columns: 0.75fr repeat(7, 1fr);
  gap: 4px;
  border: 4px solid white;
  margin: 2%;
  background-color: white;
}

.title-container {
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-clear {
  width: 84px;
  height: 36px;
  justify-self: flex-end;
}

.workout-title {
  color: #92bf2e;
  text-align: left;
  margin: 2%;
}

.weekday-header {
  color: white;
  background-color: grey;
  height: 100%;
  font-weight: bold;
  font-size: 20px;
  box-sizing: border-box;
}

.week-number-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #92bf2e;
  color: black;
}

.week-label-text {
  font-size: 20px;
  font-weight: bold;
}

.week-label-number {
  font-weight: bold;
  font-size: 64px;
}

.day-of-week-header {
  color: white;
  height: 20px;
  font-size: 16px;
  padding: 2px 0;
  background-color: gray;
  border-bottom: 2px white solid;
  border-top: 2px white solid;
}

@media (max-width: 1280px) {
  .calendar {
    grid-template-columns: 1fr;
    gap: 0px;
    border-top: none;
  }
  .weekday-header {
    display: none;
  }

  .week-number-header {
    border-top: 4px white solid;
  }

  .title-container {
    flex-direction: column-reverse;
  }

  .btn-clear {
    align-self: flex-end;
  }
}

@media (min-width: 1280px) {
  .day-of-week-header {
    display: none;
  }
}
